.card_icons_container{
	position:relative;
	width:100%;
	max-width: 1200px;
	margin-left:10px;
	padding-bottom: 110px;
}

.card_container{
	background-color:#fff;
	border-radius:5px;

    width: 1200px;
    height: 100%;
    min-height: 469px;
}

.content_container{
	float:left;
	height:100%;
    width: calc(100% - 362px); /* 362px is the width of the image minus 100% of the container width */
}
.img_container{
	float:left;
	border-radius:10px;
}

.book_img {
	width: 362px;
	height:469px;
	border-radius:5px;
}

.description_container{
	top:120px;
	float:left;
	width: 60%;
	height:150px;
	font-family:Roboto;
	font-size:10px;
}

.ratings_container{
	padding-top: 12px;
	float:left;
	border-left:1px solid;
	border-color:#E9E9E9;
	width: 40%;
	font-family:Roboto;
	font-size: 14px;
    letter-spacing: 0;
}

.icon_bar{
    width: 100%;
    height: 30px;
    padding: 32px 0;
    position: relative;
}

.ratings{
    padding-left: 26px;
    padding-right: 23px;
}

.progress_bar_container{
	padding-bottom: 11px;
}

.progress_bar{
	clear:both;
	padding-top:2px;
	padding-bottom:7px;
}

.ratings_left{
	float:left;
	padding-left:5px;
	padding-bottom:0px;
	margin-bottom:0px;
}

.ratings_right{
	padding-right:5px;
	float:right;
	padding-bottom:0px;
	margin-bottom:0px;
}




.meter { 
	height: 4px;  /* Can be anything */
	position: relative;
	background: rgb(243,243,243);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 0px;
	margin:0px;
}
 .meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding:0px;
  margin:0px;
}

#orange_bar{
	background-color: rgb(247,190,38);
}

#orange_text{
	color: rgb(247,190,38);
}

#green_bar{
	background-color: #75C36A;
}

#green_text{
	color: #88CB7E;
}

#blue_bar{
	background-color: #5AC9E3
}

#blue_text{
	color: #75CDE2
}

.blue_menu_text{
		color:#83AFDB;
}

.book_menu{
	padding-left: 27px;
    padding-right: 26px;
	padding-top:37px;
}
.book_menu .ratings_left {
    width: 95%;
}
.menu_item_container{
	padding-top:5px;	
	height:33px;
	font-family:"Roboto";
	font-size:16px;
}

.menu_item_underline{
	border-bottom:1px solid;
	border-bottom-color:#F2F2F2;
}

.description_wrapper{
	padding-left: 32px;
    padding-right: 15px;
}
.description_wrapper p {
    font-size: 16px;
    letter-spacing: .025rem;
    padding-bottom: 0.5rem;
}
.heading_text{
	font-family:"Roboto";
	font-size: 29px;
    line-height: 1.35;
    letter-spacing: .021rem;
}

.heading_text_small{
	font-family: "Roboto";
    font-size: 14px;
    padding-top: 10px;
    letter-spacing: 0px;
}

.heading_text_wrapper{
	padding:30px 35px;
	
}
button{
	color:#ACCC3D;
}

#read_more {
	text-decoration:none;
	font-size: 16px;
    letter-spacing: 0.02em;
}
#read_more:hover {
	text-decoration: underline;
}
.follow_btn{
    margin: 0 0 0 7px;
    border: 1px solid;
    border-color: #ACCC3D;
    color: #ACCC3D;
    padding: 3px 8px;
    border-radius: 3px;
}

.heading_grey{
	color:#AEAEAE;
	margin-left:33px;
}

.icon_container{
    width: 240px;
    border: 1px solid white;
    position: relative;
    border-radius: 5px;
    background-color: white;
    height: 100%;
    float: left;
    margin-right: 30px;
}


.download_btn{
    width: 280px;
	display:table;
	height:40px;
    border: 1px solid #98C400;
    position: relative;
    border-radius: 5px;
    background-color: #98C400;
    float: left;
    margin-right: 30px;
}

.download-btn-text{
	display:table-cell; 
	vertical-align:middle; 
	text-align:center;
	color:white;
}

.icon_img {
	float:left; 
	max-width:160px;
	width:100%;
	height:100%;
}

.icon_price{
	float: left;
    margin-top: 10px;
    border-left: 1px solid;
    border-color: #fff;
    font-family: Roboto;
    font-size: 17px;
    padding-left: 8px;
    color: #9BC315;
}

.bookmark-it {
	position: absolute;
    color: #a9a9a9;
    right: 0;
    top: 24px;
    font-size: 12px;
    text-align: center;
}
.material-icons {
    font-size: 38px;
}

.load-more {
    text-align: center;
    font-size: 16px;
    color: #a9a9a9;
}



h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin: 2em 0 0 0;
}

p
{
	margin: 0.6em 0;
}

p.tabnav
{
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: right;
}

p.tabnav a
{
	text-decoration: none;
	color: #ccc;
}

article.tabs
{
	position: relative;
	display: block;
	width: 1200px;
	min-height: 469px;
	height: 100%;
	background-color: rgba(226, 224, 224, 0.83);
}

article.tabs section
{
	position: absolute;
	display: block;
	width: 50%;
	top: 0;
	right: 0;
	height: 100%;
	min-height: 469px;
	padding: 10px 20px;
	background-color: #ddd;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 50px;
	height: 1.8em;
	top: 0.2em;
	right: -75px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
	transform: rotate(90deg);
	transform-origin: left top 0;
}

article.tabs section:nth-child(2) h2
{
	top: 3.05em;
}

article.tabs section:nth-child(3) h2
{
	top: 8.95em;
}

article.tabs section:nth-child(4) h2
{
	top: 13.85em;
}

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}

article.tabs .close {
  position:absolute;
  right:-20px;
  top:5px;
}